@import "../../styles/variables.scss";

.processes {
	display: table;

    tr {
	display: table-cell;
    }
    tr td {
	display: block;
    }
}


.chart-container {
  background-color: $gray-color;
  padding: 3rem;
}

.grid_item {
    width: 60px;
    height: 60px;
    border-radius: 0;
    margin: 0;
  }

.ui_item {
    width: 200px;
    height: 60px;
    border-radius: 0;
    margin: 0;
    color: black;
    text-align: center
  }

.chart {
  /*height: 20rem;*/
  background-color: $light-gray-color;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: flex;

  &__aside {
    flex: 2;
    height: 100%;
    background-color: $white-color;
  }

  &__main {
    flex: 8;
  }
}

.bottom {
  background-color: $primary-color;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.grid {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}

footer {
  display: flex;
  width: 100%;
}

.turnaround {
  flex: 1;
  background-color: $white-color;
  color: $black-color;
  text-align: center;
  align-self: center;
  border-radius: 5px;
}

.legends {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .box {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    margin-left: 5rem;
  }

  .green {
    background-color: $executando-color;
  }

  .red {
    background-color: $sobrecarga-color;
  }

  .black {
    background-color: $black-color;
  }
}

.red-text {
    color: red;
}
