@import "../../styles/variables.scss";

.chart-container {
  background-color: $gray-color;
  padding: 3rem;
}

.chart {
  height: 20rem;
  background-color: $light-gray-color;
  margin-bottom: 2rem;
  display: flex;

  &__aside {
    flex: 2;
    height: 100%;
    background-color: $white-color;
  }

  &__main {
    flex: 8;
  }
}

footer {
  display: flex;
  width: 100%;
}

.turnaround {
  flex: 1;
  background-color: $white-color;
  color: $black-color;
  text-align: center;
  align-self: center;
}

.legends {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .box {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    margin-left: 5rem;
  }

  .green {
    background-color: $executando-color;
  }

  .red {
    background-color: $sobrecarga-color;
  }

  .black {
    background-color: $black-color;
  }
}
