$background-color: #232326;
$gray-color: #5f5f5f;

$primary-color: #2a2d4f;
$secondary-color: #ff7f0a;
$primary-highlight-color: #202a7e;

$sobrecarga-color: #c04242;
$executando-color: #42c06d;
$deadline-color: #000000;

$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
